<div class="bootstrap-wrapper">
  <!-- <div class="container text-center mt">
    <h1 class="text-center">Welcome to Service Booking Management</h1>
    <button routerLink="/login" type="submit" mat-raised-button color="accent">Login</button>
    <button style="margin-left: 10px"  routerLink="/register" type="submit" mat-raised-button color="primary">Register</button>
  </div> -->
  <img
            src="/assets/home.png"
            style="max-width: 100%;"
            alt=""
          />
</div>
