<mat-toolbar color="primary">
  <span>
    <mat-icon *ngIf="loggedIn">eco</mat-icon>
    <a mat-button routerLink="/dashboard" *ngIf="loggedIn"
      >Service Booking System</a
    >
    <mat-icon *ngIf="!loggedIn">eco</mat-icon>
    <a mat-button routerLink="/" *ngIf="!loggedIn">Service Booking System</a>
  </span>
  <div class="example-spacer"></div>
  <button mat-button *ngIf="loggedIn" [matMenuTriggerFor]="belowUser">
    User Management
  </button>
  <mat-menu #belowUser="matMenu" yPosition="below">
    <button mat-menu-item (click)="listUser()">List User</button>
    <button mat-menu-item (click)="addUser()">Add User</button>
  </mat-menu>
  <button mat-button *ngIf="loggedIn" [matMenuTriggerFor]="belowProduct">
    Product Management
  </button>
  <mat-menu #belowProduct="matMenu" yPosition="below">
    <button mat-menu-item (click)="listProduct()">List Product</button>
    <button mat-menu-item (click)="addProduct()">Add Product</button>
  </mat-menu>
  <button mat-button *ngIf="loggedIn" [matMenuTriggerFor]="belowService">
    Service Management
  </button>
  <mat-menu #belowService="matMenu" yPosition="below">
    <button mat-menu-item routerLink="/servicemanagement">
      Create Service
    </button>
    <button mat-menu-item>Edit Service</button>
    <button mat-menu-item>Service Reports</button>
  </mat-menu>

  <a mat-raised-button color="accent" *ngIf="!loggedIn" routerLink="/login"
    >Login</a
  >
  <a mat-raised-button color="accent" *ngIf="loggedIn" (click)="logoutUser()"
    >Logout</a
  >
</mat-toolbar>
